*.class
*.log
checkpoint

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
project/target
project/project/target

# Shouldn't go to git, has credentials
src/main/resources/application.conf
